.owl-carousel .owl-stage-outer {
    padding-top: 150px;
}
.owl-carousel .owl-item.active.center  {
    margin-left: 50px;
    margin-right: 50px;
}
.owl-carousel .owl-item.active.center .card-bg{
    background-color: #FFC000;
    height: 286px;
    transform: scale(1.7);
   -webkit-box-shadow: 0px 0px 5px 7px rgba(255,255,255,0);
   -moz-box-shadow: 0px 0px 5px 7px rgba(255,255,255,0);
    box-shadow: 0px 0px 5px 7px rgba(255,255,255,0);
}
.owl-carousel .owl-item.active.center .bg{
    transform: scaley(1);
    -webkit-box-shadow: 0px 0px 5px 7px rgba(255,255,255,0);
    -moz-box-shadow: 0px 0px 5px 7px rgba(255,255,255,0);
    box-shadow: 0px 0px 5px 7px rgba(255,255,255,0);
}
.owl-carousel .owl-item.active.center .subtitle {
    display: block;
}
.owl-carousel .owl-item .subtitle {
    display: none;
    color: #232323;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
}
.owl-nav {
    position: absolute;
    top: 450px;
    display: grid;
    margin-left: 10px;
    grid-auto-flow: column;
    grid-column-gap: 35%;
    justify-content: center;
    width: 100%;
}
.owl-prev, .owl-next{
    background: none !important;
}
.card-nav-button {
    border-radius: 50% !important;
}

@media (min-width: 280px) { 
    .what-are-you-cont{
        transform: translateX(20px) translateY(10px);
    }
    .owl-nav {
        top: 392px;
        margin-left: 15px;
        grid-column-gap: 44%;
    }
}
@media (min-width: 360px) { 
    .what-are-you-cont{
        transform: translateX(20px) translateY(10px);
    }
    .owl-nav{
        top: 456px;
        margin-left: -24px;
        grid-column-gap: 45%;
    }

}
@media(min-width: 540px){
    .owl-nav {
        top: 456px;
        margin-left: -99px;
        grid-column-gap: 37%;
    }
}
@media (min-width: 576px) { 
    .what-are-you-cont{
        transform: translateX(20px) translateY(10px);
    }
}
@media (min-width: 768px) { 
    .what-are-you-cont{
        transform: translateX(52px) translateY(120px);
    }
    .owl-nav {
        top: 470px;
        margin-left: 27px;
        grid-column-gap: 56%;
    }
}
@media (min-width: 992px) { 
    .navbar-expand-lg {
        flex-flow: wrap;
    }
    .what-are-you-cont{
        transform: translateX(120px) translateY(120px);
    }
    .owl-nav{
        top: 495px;
        margin-left: 43px;
        grid-column-gap: 46%;
    }
}
@media (min-width: 1200px) { 
    .what-are-you-cont{
        transform: translateX(320px) translateY(100px);
    }
}